<% if (theme.cover.enable) { %>
  <section class="cover">
      <% if (theme.github.enable && theme.github.url){ %>
        <%# "GitHub Ribbons" %>
        <a class="forkMe" href="<%=theme.github.url%>"
          target="_blank"><img width="149" height="149" src="<%- url_for('images/bandeau.png') %>"
            class="attachment-full size-full" alt="Fork me on GitHub" data-recalc-dims="1"></a>
      <% } %>
    <div class="cover-frame">
      <div class="bg-box">
        <img src="<%- theme.cover.path %>" alt="image frame" />
      </div>
      <div class="cover-inner text-center text-white">
        <div>
          <% if (theme.cover.logo) { %>
          <img
            src="<%- theme.cover.logo %>"
            class="cover-logo"
            alt="<%= config.title %>"
          />
          <% } %>
        </div>      
        <h1><a href="<%- url_for() %>"><%= config.title %></a></h1>
        <div id="subtitle-box">
          <div class="tlt">
            <ul class="texts">
                <li>« Les arts et le guerrier ne font qu'un. » ~ Shogunat Tokugawa</li>
                <li>« La Voie du guerrier est la double Voie de la Plume et du Sabre. » ~ Miyamoto Musashi</li>
                <li>« Vaincre sans convaincre n'est rien. » ~ Jigoro Kano</li>
            </ul>
        </div>
        <script>
            $('.tlt').textillate({
                // the default selector to use when detecting multiple texts to animate
                selector: '.texts',
  
                // enable looping
                loop: true,
  
                // sets the minimum display time for each text before it is replaced
                minDisplayTime: 2000,
  
                // sets the initial delay before starting the animation
                // (note that depending on the in effect you may need to manually apply
                // visibility: hidden to the element before running this plugin)
                initialDelay: 0,
  
                // set whether or not to automatically start animating
                autoStart: true,
  
                // custom set of 'in' effects. This effects whether or not the
                // character is shown/hidden before or after an animation
                inEffects: [],
  
                // custom set of 'out' effects
                outEffects: ['hinge'],
  
                // in animation settings
                in: {
                    // set the effect name
                    effect: 'fadeInUp',
  
                    // set the delay factor applied to each consecutive character
                    delayScale: 1.5,
  
                    // set the delay between each character
                    delay: 25,
  
                    // set to true to animate all the characters at the same time
                    sync: false,
  
                    // randomize the character sequence
                    // (note that shuffle doesn't make sense with sync = true)
                    shuffle: false,
  
                    // reverse the character sequence
                    // (note that reverse doesn't make sense with sync = true)
                    reverse: false,
  
                    // callback that executes once the animation has finished
                    callback: function() {}
                },
  
                // out animation settings.
                out: {
                    effect: 'fadeOutUp',
                    delayScale: 1.5,
                    delay: 25,
                    sync: false,
                    shuffle: false,
                    reverse: false,
                    callback: function() {}
                },
  
                // callback that executes once textillate has finished
                callback: function() {},
  
                // set the type of token to animate (available types: 'char' and 'word')
                type: 'char'
            });
        </script>
        </div>
      </div>
    </div>
    <div class="cover-learn-more">
      <a href="javascript:void(0)" class="anchor"><i class="ri-arrow-down-line"></i></a>
    </div>
  </section>
  <% } %>
  
  