<!DOCTYPE html>

<% if (config.language){ %>
<html lang="<%= config.language %>">
<% } else { %>
<html lang="en">
<% }%>

<head>
  <meta charset="utf-8" />
  <% var title = page.title; if (is_archive()) { title = __('archive_a'); if
    (is_month()) { title += ': ' + page.year + '/' + page.month; } else if
    (is_year()) { title += ': ' + page.year; } } else if (is_category()) { title
    = page.category; } else if (is_tag()) {
    title = __('tag') + ': ' + page.tag; } %> <% if (page.keywords){ %>
  <meta name="keywords" content="<%= page.keywords %>,<%= config.keywords %>" />
  <% } else if (config.keywords){ %>
  <meta name="keywords" content="<%= config.keywords %>" />
  <% } %> <% if (page.description){ %>
  <meta name="description" content="<%= page.description %>" />
  <% } else if (config.description){ %>
  <meta name="description" content="<%= config.description %>" />
  <% } %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <title>
    <% if (title){ %><%= title %> | <% } %> <%= config.title %>
  </title>
  <% if (theme.favicon){ %>
  <link rel="shortcut icon" href="<%- theme.favicon %>" />
  <% } %>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery.textillate.js"></script>
  <script src="/js/jquery.lettering.js"></script>
  <link rel="stylesheet" href="/css/animate.css">
  <%- css('dist/main') %>
  <%- css('css/remixicon.min') %>
  <%- css('css/custom') %>
  <% if (theme.progressBar){ %>
  <%- js('js/pace.min') %>
  <% } %>
  <%- partial('google-analytics') %>
  <%- partial('baidu-analytics') %>
</head>

</html>